@import url(colors.less);

.spacing{
    height: 20vh;
}

.footer-container{
    background-color: @sherpablue;
    height: 70vh;
    width: 100vw;
    
    .footer-logo{
        padding-top: 3vh;
        margin-bottom: -1vh;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
       img{
        height: 20vh;
        width: auto;
       }
    }

    .footer-socials{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 3vh;
        height: 10vh;
       img{
        margin-right: 16.5px;
        margin-left: 16.5px;
       }
    }

    .footer-links{
        p{
            margin-top: 1vh;
            margin-bottom: 1vh;
        }
    }

    .heading{
        font-size: 50px;
    }
}