@import url(colors.less);

// General Styling

*{
    margin: 0;
    padding: 0;
    font-family: 'tekoregular', sans-serif;
    text-decoration: none;
}

html, body{
    overflow-x: hidden;
}

.full-height{
    height: 100vh;
}

.heading{
    font-size: 500%;
    width: 100%;
    font-family: 'tekosemibold';
}

.heading-2{
    font-size: 400%;
    font-family: 'tekosemibold';    
}

.icon{
    img{
        width: 50px;
        height: 50px;    
    }
}

.text-center{
    text-align: center;
}

.center{
    top: 0;
    bottom: 0;
    margin: auto;
}

.header-image{
    width: 100%;
    height: auto;
    display: block  ;
}

.bg-light{
    background-color: @wildsand;
}

.bg-dark{
    background-color: @gray;
}

.text-youtube-red{
    color: @youtube_red;
}

.text-facebook-blue{
    color: @facebook_blue;
}

.text-linkedin-blue{
    color: @linkedin_blue;
}

.text-light-gray{
    color: @light-gray;
}

.text-persiangreen{
    color: @persiangreen;
}

.text-sherpablue{
    color: @sherpablue;
}

.text-yellowgreen{
    color: @yellowgreen;
}

.text-light{
    color: @wildsand;
}

.text-dark{
    color: @gray;
}

.text-ripelemon{
    color: @ripelemon;
}

.fs-icon-container{
    width: 100vw;
    height: 55vh;
    display: flex;
    align-content: center;
    justify-content: center;
}

.image-nav-home{
    margin-top: 2vw;
    margin-bottom: 2vw;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;



    .image-nav-home-item{
        margin: 2vw;
    
        img{

            @media(min-width: 992px){
                width: 29vw;
            }
            @media(min-width: 768px) and (max-width: 991px){
                width: 45vw;
            }
            @media(max-width: 767px){
                width: 90vw;
            }
           
        }

    }

}

.text-uppercase{
    text-transform: uppercase;
}

.text-lowercase{
    text-transform: lowercase;
}

.bg-image{
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.black-bg-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 5);
}

// Specific Styling


// Visitor Pages

.history-container{
    
    .history-bgimage{
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 50vh;
        display: block;
    }

    .history-content{
        display: flex;
        align-items: center;
        justify-content: center;

        h1{
            font-size: 80px;
        }
        h2{
            font-size: 35px;
        }
        .icon{
            img{
                width: 80px;
                height: auto;
            }
        }
        p{
            font-size: 20px;

        }
    }

    .spacing{
        height: 0;
    }

}

.locations-container{

    .location-header-text{

        h1{
            padding-top: 10vh;
            @media (min-width: 1400px){
                font-size: 200px;
            }
            @media(min-width: 1200px) and (max-width: 1399px){
                font-size: 170px;
            }
            @media(min-width: 992px) and (max-width: 1199px){
                font-size: 140px;
            }
            @media(min-width: 768px) and (max-width: 991px){
                font-size: 110px;
            }
            @media(min-width: 576px) and (max-width: 767px){
                font-size: 80px;
            }
            @media(min-width: 321px) and (max-width: 575px){
                font-size: 55px;
            }
            @media(min-width: 0px) and (max-width: 320px){
                font-size: 40px;
            } 
        }
        h2{
            padding-top: 2vhx;
            width: 60vw;
            @media (min-width: 1400px){
                font-size: 40px;
            }
            @media(min-width: 1200px) and (max-width: 1399px){
                font-size: 35px;
            }
            @media(min-width: 992px) and (max-width: 1199px){
                font-size: 30px;
            }
            @media(min-width: 768px) and (max-width: 991px){
                font-size: 25px;
            }
            @media(min-width: 576px) and (max-width: 767px){
                font-size: 20px;
            }
            @media(min-width: 321px) and (max-width: 575px){
                font-size: 15px;
            }
            @media(min-width: 0px) and (max-width: 320px){
                font-size: 10px;
            } 
        }
    }

    .locations-icons-header{
        margin-top: 5vh;
        margin-bottom: 10vh;

        &.icon{
            img{
                margin: 2vw;

                @media (min-width: 1400px){
                    width: 160px;
                    height: 160px;
                }
                @media(min-width: 1200px) and (max-width: 1399px){
                    width: 140px;
                    height: 140px;
                }
                @media(min-width: 992px) and (max-width: 1199px){
                    width: 120px;
                    height: 120px;
                }
                @media(min-width: 768px) and (max-width: 991px){
                    width: 100px;
                    height: 100px;
                }
                @media(min-width: 576px) and (max-width: 767px){
                    width: 80px;
                    height: 80px;
                }
                @media(min-width: 321px) and (max-width: 575px){
                    width: 60px;
                    height: 60px;
                }
                @media(min-width: 0px) and (max-width: 320px){
                    width: 40px;
                    height: 40px;
                }    
            }
        }
    }

    .locations-section{
        height: 100vh;

        h1.heading{
            padding-top:5vh;
            @media (min-width: 1400px){
                font-size: 200px;
            }
            @media(min-width: 1200px) and (max-width: 1399px){
                font-size: 170px;
            }
            @media(min-width: 992px) and (max-width: 1199px){
                font-size: 140px;
            }
            @media(min-width: 768px) and (max-width: 991px){
                font-size: 110px;
            }
            @media(min-width: 576px) and (max-width: 767px){
                font-size: 80px;
            }
            @media(min-width: 321px) and (max-width: 575px){
                font-size: 55px;
            }
            @media(min-width: 0px) and (max-width: 320px){
                font-size: 40px;
            } 
        }

        .icon{
            margin-top: 5vh;
            display: flex;
            justify-content: center;

            img{
                @media (min-width: 1400px){
                    height: 200px;
                    width: 200px;
                }
                @media(min-width: 1200px) and (max-width: 1399px){
                    height: 160px;
                    width: 160px;
                }
                @media(min-width: 992px) and (max-width: 1199px){
                    height: 140px;
                    width: 140px;
                }
                @media(min-width: 768px) and (max-width: 991px){
                    width: 140px;
                    height: 140px;
                }
                @media(min-width: 576px) and (max-width: 767px){
                    width: 120px;
                    height: 120px;
                }
                @media(min-width: 321px) and (max-width: 575px){
                    width: 100px;
                    height: 100px;
                }
                @media(min-width: 0px) and (max-width: 320px){
                    width: 80px;
                    height: 80px;
                } 
            }
        
        }
        
        p{
            padding-top: 5vh;
            @media (min-width: 1400px){
                font-size: 40px;
                width: 1000px;
            }
            @media(min-width: 1200px) and (max-width: 1399px){
                padding-top: 10vh;
                font-size: 40px;
                width: 1000px;
            }
            @media(min-width: 992px) and (max-width: 1199px){
                padding-top: 10vh;
                font-size: 35px;
                width: 800px;

            }
            @media(min-width: 768px) and (max-width: 991px){
                padding-top: 10vh;
                font-size: 35px;
                width: 600px;
            }
            @media(min-width: 576px) and (max-width: 767px){
                padding-top: 10vh;
                font-size: 30px;
                width: 400px;
            }
            @media(min-width: 321px) and (max-width: 575px){
                padding-top: 10vh;
                font-size: 25px;
                width: 90vw;
            }
            @media(min-width: 0px) and (max-width: 320px){
                padding-top: 10vh;
                font-size: 20px;
                width: 90vw;
            } 
            
        }

        &.bg-image-barcelona{
            background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url(../img/Backgrounds/Locations/Barcelona-background.jpg);
        }
        &.bg-image-berlin{
            background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url(../img/Backgrounds/Locations/Berlin-background.jpg);
        }
        &.bg-image-bern{
            background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url(../img/Backgrounds/Locations/Bern-background.jpg);
        }
        &.bg-image-brussels{
            background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url(../img/Backgrounds/Locations/Brussels-background.jpg);   
        }
        &.bg-image-helsinki{
            background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url(../img/Backgrounds/Locations/Helsinki-background.jpg);   
        }
        &.bg-image-lisbon{
            background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url(../img/Backgrounds/Locations/Lisbon-background.jpg);
        }
        &.bg-image-london{
            background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url(../img/Backgrounds/Locations/London-background.jpg);
        }
        &.bg-image-roma{
            background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url(../img/Backgrounds/Locations/Roma-background.jpg);
        }
        &.bg-image-vienna{
            background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url(../img/Backgrounds/Locations/Vienna-background.jpg);
        }
    }
    .spacing{
        height: 0;
    }
}

.partners-container{
    .partners-heading{
        
        h1{
            margin-top: 5vh;
            padding-bottom: 5vh;
            @media (min-width: 1400px){
                font-size: 200px;
            }
            @media(min-width: 1200px) and (max-width: 1399px){
                font-size: 170px;
            }
            @media(min-width: 992px) and (max-width: 1199px){
                font-size: 140px;
            }
            @media(min-width: 768px) and (max-width: 991px){
                font-size: 110px;
            }
            @media(min-width: 576px) and (max-width: 767px){
                font-size: 80px;
            }
            @media(min-width: 321px) and (max-width: 575px){
                font-size: 55px;
            }
            @media(min-width: 0px) and (max-width: 320px){
                font-size: 40px;
            } 
        }
        
        .partners-heading-icons{
            margin-top: 10vh;
            width: 90vw;
            margin: auto;
            max-width: 1280px;
            margin-bottom: 10vh;

            &.icon{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                align-items: center;
                align-content: center;
            
                img{
                    margin: 2vw;

                    @media (min-width: 1400px){
                        width: 60px;
                        height: 60px;
                    }
                    @media(min-width: 1200px) and (max-width: 1399px){
                        width: 50px;
                        height: 50px;
                    }
                    @media(min-width: 992px) and (max-width: 1199px){
                        width: 40px;
                        height: 40px;
                    }
                    @media(min-width: 768px) and (max-width: 991px){
                        width: 35px;
                        height: 35px;
                    }
                    @media(min-width: 576px) and (max-width: 767px) {
                        width: 30px; 
                        height: 30px;                   
                    }
                    @media(min-width: 321px) and (max-width: 575px){
                        width: 25px;
                        height: 25px;
                    }
                    @media(min-width: 0px) and (max-width: 320px){
                        width: 20px;
                        height: 20px;
                    } 
                
                }   

                img:hover{

                    @media (min-width: 1400px){
                        margin: calc(2vw - 20px);
                        width: 100px;
                        height: 100px;    
                    }
                    @media(min-width: 1200px) and (max-width: 1399px){
                        margin: calc(2vw - 20px);
                        width: 90px;
                        height: 90px;
                    }
                    @media(min-width: 992px) and (max-width: 1199px){
                        margin: calc(2vw - 15px);
                        width: 70px;
                        height: 70px;
                    }
                    @media(min-width: 768px) and (max-width: 991px){
                        margin: calc(2vw - 15px);
                        width: 65px;
                        height: 65px;
                    }
                    @media(min-width: 576px) and (max-width: 767px) {
                        margin: calc(2vw - 10px);
                        width: 50px; 
                        height: 50px;                   
                    }
                    @media(min-width: 321px) and (max-width: 575px){
                        margin: calc(2vw - 7.5px);
                        width: 40px;
                        height: 40px;
                    }
                    @media(min-width: 0px) and (max-width: 320px){
                        margin: calc(2vw - 5px);
                        width: 30px;
                        height: 30px;
                    } 
                }
            }

          
        }
    }

    .partners-entry-text{

        &.bg-partners-entry-text{
            background-image: linear-gradient(rgba(134, 134, 134, 0.527),rgba(134, 134, 134, 0.5)),url(../img/Backgrounds/Partners/Partner\ Text\ Background.jpg);
        }
        .partners-entry-text-subcontainer{
            display: flex;
           h1{
            @media (min-width: 1400px){
                font-size: 150px;
            }
            @media(min-width: 1200px) and (max-width: 1399px){
                font-size: 140px;
            }
            @media(min-width: 992px) and (max-width: 1199px){
                font-size: 120px;
            }
            @media(min-width: 768px) and (max-width: 991px){
                font-size: 90px;
            }
            @media(min-width: 576px) and (max-width: 767px){
                font-size: 70px;
            }
            @media(min-width: 321px) and (max-width: 575px){
                font-size: 50px;
            }
            @media(min-width: 0px) and (max-width: 320px){
                font-size: 40px;
            } 
           }

            .icon{
                img{
                    height: auto;
                    @media (min-width: 1400px){
                        width: 96px;
                    }
                    @media(min-width: 1200px) and (max-width: 1399px){
                        width: 91px;
                    }
                    @media(min-width: 992px) and (max-width: 1199px){
                        width: 83px;
                    }
                    @media(min-width: 768px) and (max-width: 991px){
                        width: 76px;
                    }
                    @media(min-width: 576px) and (max-width: 767px){
                        width: 68px;
                    }
                    @media(min-width: 321px) and (max-width: 575px){
                        width: 62px;
                    }
                    @media(min-width: 0px) and (max-width: 320px){
                        width: 57px;
                    } 
                }
            }

            .customer-contact-button{
                margin-top: 2vh;
                width: 240px;
                height: 55px;
                font-size: 30px;
                outline: none;
                border: solid @persiangreen 4px;
                background-color: @sherpablue;
               
            }
        }
    }

    .spacing{
        height: 0;
    }
}

.sm-container{


    .entry-text{
        margin-bottom: 10vh;;
        h1{
            margin-top: 5vh;
            padding-bottom: 5vh;
            @media (min-width: 1400px){
                font-size: 200px;
            }
            @media(min-width: 1200px) and (max-width: 1399px){
                font-size: 170px;
            }
            @media(min-width: 992px) and (max-width: 1199px){
                font-size: 140px;
            }
            @media(min-width: 768px) and (max-width: 991px){
                font-size: 110px;
            }
            @media(min-width: 576px) and (max-width: 767px){
                font-size: 80px;
            }
            @media(min-width: 321px) and (max-width: 575px){
                font-size: 55px;
            }
            @media(min-width: 0px) and (max-width: 320px){
                font-size: 40px;
            } 
        }
    }

    .social-media-icons{
        &.icon{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            align-content: center;
            .hover-element-link a{
                visibility: hidden;
            }
            .hover-element-link:hover a{
                visibility: visible;
            }
            img{
                margin: 2vw;
                @media (min-width: 1400px){
                    width: 150px;
                    height: 150px;    
                }
                @media(min-width: 1200px) and (max-width: 1399px){
                    width: 140px;
                    height: 140px;
                }
                @media(min-width: 992px) and (max-width: 1199px){
                    width: 120px;
                    height: 120px;
                }
                @media(min-width: 768px) and (max-width: 991px){
                    width: 115px;
                    height: 115px;
                }
                @media(min-width: 576px) and (max-width: 767px) {
                    width: 100px; 
                    height: 100px;                   
                }
                @media(min-width: 321px) and (max-width: 575px){
                    width: 90px;
                    height: 90px;
                }
                @media(min-width: 0px) and (max-width: 320px){
                    width: 80px;
                    height: 80px;
                } 
            }
            img:hover{
                 
                @media (min-width: 1400px){
                    margin: calc(2vw - 25px);
                    width: 200px;
                    height: 200px;    
                }
                @media(min-width: 1200px) and (max-width: 1399px){
                    margin: calc(2vw - 25px);
                    width: 190px;
                    height: 190px;
                }
                @media(min-width: 992px) and (max-width: 1199px){
                    margin: calc(2vw - 20px);
                    width: 160px;
                    height: 160px;
                }
                @media(min-width: 768px) and (max-width: 991px){
                    margin: calc(2vw - 15px);
                    width: 145px;
                    height: 145px;
                }
                @media(min-width: 576px) and (max-width: 767px) {
                    margin: calc(2vw - 12.5px);
                    width: 125px; 
                    height: 125px;                   
                }
                @media(min-width: 321px) and (max-width: 575px){
                    margin: calc(2vw - 6px);
                    width: 102px;
                    height: 102px;
                }
                @media(min-width: 0px) and (max-width: 320px){
                    margin: calc(2vw - 3px);
                    width: 86px;
                    height: 86px;
                } 
            }

        }
    }

    .sm-text{
        margin-top: 12.5vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        &.bg-social-media-text{
            background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url(../img/Backgrounds/Social-Media/Social\ Media\ Background.png);
        }

        .heading-2{
            @media (min-width: 1400px){
                font-size: 140px;
            }
            @media(min-width: 1200px) and (max-width: 1399px){
                font-size: 110px;
            }
            @media(min-width: 992px) and (max-width: 1199px){
                font-size: 80px;
            }
            @media(min-width: 768px) and (max-width: 991px){
                font-size: 70px;
            }
            @media(min-width: 576px) and (max-width: 767px){
                font-size: 60px;
            }
            @media(min-width: 321px) and (max-width: 575px){
                font-size: 55px;
            }
            @media(min-width: 0px) and (max-width: 320px){
                font-size: 50px;
            } 
        }

        .sm-text-subtext-with-icon-nextToIt{
            display: flex;

            @media (min-width: 992px){
                display: flex;                
            }
            @media (min-width: 0px) and (max-width: 991px) {
                display: block;
            }

            .icon{
                display: flex;
                justify-content: center;
                img{
                    margin-bottom: 5vh;
                    @media (min-width: 1400px){
                        width: 280px;
                        height: 280px;    
                    }
                    @media(min-width: 1200px) and (max-width: 1399px){
                        width: 250px;
                        height: 250px;
                    }
                    @media(min-width: 992px) and (max-width: 1199px){
                        width: 200px;
                        height: 200px;
                    }
                    @media(min-width: 768px) and (max-width: 991px){
                        width: 150px;
                        height: 150px;
                    }
                    @media(min-width: 576px) and (max-width: 767px) {
                        width: 140px; 
                        height: 140px;                   
                    }
                    @media(min-width: 321px) and (max-width: 575px){
                        width: 130px;
                        height: 130px;
                    }
                    @media(min-width: 0px) and (max-width: 320px){
                        width: 115px;
                        height: 115px;
                    } 

                }
            }
            
            .text{
                @media (min-width: 992px){
                    width: 40vw;
                }
                @media (min-width: 321px) and (max-width: 991px){
                    width: 60vw;
                }
                @media (min-width: 0px) and (max-width: 320px){
                    width: 80vw;
                }

                @media (min-width: 1400px){
                    font-size: 40px;
                }
                @media(min-width: 1200px) and (max-width: 1399px){
                    font-size: 35px;
                }
                @media(min-width: 992px) and (max-width: 1199px){
                    font-size: 30px;
                }
                @media(min-width: 768px) and (max-width: 991px){
                    font-size: 30px;
                }
                @media(min-width: 576px) and (max-width: 767px){
                    font-size: 25px;
                }
                @media(min-width: 321px) and (max-width: 575px){
                    font-size: 22.5px;
                }
                @media(min-width: 0px) and (max-width: 320px){
                    font-size: 20px;
                } 
            }

        }
    }

    .spacing{
        height: 0;
    }
}

.employees-container{
    .heading-text{
        &.bg-employees-entry{
            background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url(../img/Backgrounds/Employees/Employees-IconHeader.png);
        }
        h1.heading{
            margin-top: 15vh; 
            // padding-bottom: 5vh;
            @media (min-width: 1400px){
                font-size: 180px;
                margin-top: 5vh;
            }
            @media(min-width: 1200px) and (max-width: 1399px){
                font-size: 170px;
                margin-top: 10vh;
            }
            @media(min-width: 992px) and (max-width: 1199px){
                font-size: 140px;
            }
            @media(min-width: 768px) and (max-width: 991px){
                font-size: 110px;
            }
            @media(min-width: 576px) and (max-width: 767px){
                font-size: 80px;
                margin-top: 10vh;
            }
            @media(min-width: 321px) and (max-width: 575px){
                font-size: 65px;
                margin-top: 5vh;
            }
            @media(min-width: 0px) and (max-width: 320px){
                font-size: 50px;
                margin-top: 5vh;
            } 
        }
        .heading-2{
            @media (min-width: 1400px){
                font-size: 80px;
            }
            @media(min-width: 1200px) and (max-width: 1399px){
                font-size: 70px;
            }
            @media(min-width: 992px) and (max-width: 1199px){
                font-size: 60px;
            }
            @media(min-width: 768px) and (max-width: 991px){
                font-size: 50px;
            }
            @media(min-width: 576px) and (max-width: 767px){
                font-size: 40px;
            }
            @media(min-width: 321px) and (max-width: 575px){
                font-size: 35px;
            }
            @media(min-width: 0px) and (max-width: 320px){
                font-size: 30px;
            } 
        }
        p{
            width: 60vw;
            span{
                @media (min-width: 1400px){
                    font-size: 40px;
                }
                @media(min-width: 1200px) and (max-width: 1399px){
                    font-size: 35px;
                }
                @media(min-width: 992px) and (max-width: 1199px){
                    font-size: 30px;
                }
                @media(min-width: 768px) and (max-width: 991px){
                    font-size: 25px;
                }
                @media(min-width: 576px) and (max-width: 767px){
                    font-size: 25px;
                }
                @media(min-width: 321px) and (max-width: 575px){
                    font-size: 20px;
                }
                @media(min-width: 0px) and (max-width: 320px){
                    font-size: 18px;
                } 
            }
        }
    }

    .employee-profiles-container{
        margin-bottom: 10vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10vh;
        .employee{
            width: 300px;
            height: 500px;

            img{
                width: 90%;
                height: auto;
                bottom: 0;
                
                &:hover{
                    // background-image: linear-gradient(45deg, @ripelemon, @persiangreen);
                    
                }
            }
            
            p{
                font-size: 30px;
            }
        }
    }
}

.jobs-container{
    .jobs-entry-text{
        width: 100vw;
        img{
            display: block;
            width: 100vw;
        }
    }

    .job-offers-container{
        margin: 0;
        padding: 0;


        .job-offer{
            background-size: cover;
            background-position: center;
            width: 100vw;
            @media (min-width: 1400px){
                height: 55vh;
            }
            @media(min-width: 1200px) and (max-width: 1399px){
                height: 45vh;
            }
            @media(min-width: 992px) and (max-width: 1199px){
                height: 40vh;       
            }
            @media(min-width: 768px) and (max-width: 991px){
                height: 35vh;
            }
            @media(min-width: 576px) and (max-width: 767px){

            }
            @media(min-width: 321px) and (max-width: 575px){

            }
            @media(min-width: 0px) and (max-width: 320px){

            } 

            &.bg-right{
                background-position: left;
            }
            &.bg-left{
                background-position: right;
            }

            .text-right{
                width: 60vw;
                margin-left: 40vw;
                
                @media(min-width: 768px) and (max-width: 991px){
                    width: 80vw;
                    margin-left: 20vw;
                }
                @media(min-width: 576px) and (max-width: 767px){
                    font-size: 45px;
                }
                @media(min-width: 321px) and (max-width: 575px){
                    font-size: 35px;
                }
                @media(min-width: 0px) and (max-width: 320px){
                    font-size: 30px;
                } 
            }
            
        

            .text-left{
                width: 60vw;
                margin-right: 40vw;
             
            }

            .text-left, .text-right{
                padding-top: 2vh;
                .heading{
                    @media (min-width: 1400px){
                        font-size: 80px;
                    }
                    @media(min-width: 1200px) and (max-width: 1399px){
                        font-size: 80px;
                    }
                    @media(min-width: 992px) and (max-width: 1199px){
                        font-size: 50px;
                    }
                    @media(min-width: 768px) and (max-width: 991px){
                        font-size: 60px;
                    }
                    @media(min-width: 576px) and (max-width: 767px){
                        font-size: 45px;
                    }
                    @media(min-width: 321px) and (max-width: 575px){
                        font-size: 35px;
                    }
                    @media(min-width: 0px) and (max-width: 320px){
                        font-size: 30px;
                    } 
                }
                .heading-2{
                    @media (min-width: 1400px){
                        font-size: 40px;
                    }
                    @media(min-width: 1200px) and (max-width: 1399px){
                        font-size: 40px;
                    }
                    @media(min-width: 992px) and (max-width: 1199px){
                        font-size: 30px;
                    }
                    @media(min-width: 768px) and (max-width: 991px){
                        font-size: 35px;
                    }
                    @media(min-width: 576px) and (max-width: 767px){
                        font-size: 30px;
                    }
                    @media(min-width: 321px) and (max-width: 575px){
                        font-size: 25px;
                    }
                    @media(min-width: 0px) and (max-width: 320px){
                        font-size: 20px;
                    } 
                }
                .jobdescription{
                    @media (min-width: 1400px){
                        font-size: 30px;
                    }
                    @media(min-width: 1200px) and (max-width: 1399px){
                        font-size: 30px;
                    }
                    @media(min-width: 992px) and (max-width: 1199px){
                        font-size: 20px;
                    }
                    @media(min-width: 768px) and (max-width: 991px){
                        font-size: 25px;
                    }
                    @media(min-width: 576px) and (max-width: 767px){
                        font-size: 25px;
                    }
                    @media(min-width: 321px) and (max-width: 575px){
                        font-size: 20px;
                    }
                    @media(min-width: 0px) and (max-width: 320px){
                        font-size: 15px;
                    }                }
                .job-entry-button{
                    margin-top: 3vh;
                    @media (min-width: 1400px){
                        width: 170px;
                        height: 50px;
                        font-size: 30px;
                    }
                    @media(min-width: 1200px) and (max-width: 1399px){
                        width: 170px;
                        height: 50px;
                        font-size: 30px;
                    }
                    @media(min-width: 992px) and (max-width: 1199px){
                        width: 150px;
                        height: 40px;
                        font-size: 25px;
                    }
                    @media(min-width: 768px) and (max-width: 991px){
                        width: 130px;
                        height: 40px;
                        font-size: 25px;
                    }
                    @media(min-width: 576px) and (max-width: 767px){
                        width: 100px;
                        height: 40px;
                        font-size: 20px;
                    }
                    @media(min-width: 321px) and (max-width: 575px){
                        width: 100px;
                        height: 35px;
                        font-size: 20px;
                    }
                    @media(min-width: 0px) and (max-width: 320px){
                        width: 90px;
                        height: 30px;
                        font-size: 15px;
                    }   
                    outline: none;
                    border: solid @persiangreen 3px;

                 
                }

                
            }
           
        }

    }
}

.job-entry-container,.customer-contact-container{
    form{
        &.contact-form{
            label{
                margin-top: 10vh;
                @media (min-width: 1400px){
                    font-size: 60px;
                }
                @media(min-width: 1200px) and (max-width: 1399px){
                    font-size: 60px;
                }
                @media(min-width: 992px) and (max-width: 1199px){
                    font-size: 50px;
                }
                @media(min-width: 768px) and (max-width: 991px){
                    font-size: 50px;
                }
                @media(min-width: 576px) and (max-width: 767px){
                    font-size: 40px;
                }
                @media(min-width: 321px) and (max-width: 575px){
                    font-size: 30px;
                }
                @media(min-width: 0px) and (max-width: 320px){
                    font-size: 30px;
                }  
            }


            input[type=text], input[type=tel],input[type=url],input[type=file],textarea{
                text-align: center;
                outline: none;
                background-color: @wildsand;
                border: solid 4px @persiangreen;

                @media (min-width: 1400px){
                    font-size: 40px;
                    width: 30vw;
                    height: 10vh;
                    transition: width 0.4s ease-in-out;

                    &:focus{
                        width: 60vw;
                        height: 10vh;
                    }
                }
                @media(min-width: 1200px) and (max-width: 1399px){
                    font-size: 40px;
                    width: 30vw;
                    height: 10vh;
                    transition: width 0.4s ease-in-out;

                    &:focus{
                        width: 60vw;
                        height: 10vh;
                    }
                }
                @media(min-width: 992px) and (max-width: 1199px){
                    font-size: 30px;
                    width: 20vw;
                    height: 8vh;
                    transition: width 0.4s ease-in-out;

                    &:focus{
                        width: 40vw;
                        height: 8vh;
                    }

                }
                @media(min-width: 768px) and (max-width: 991px){
                    font-size: 25px;
                    width: 30vw;
                    height: 6vh;
                    transition: width 0.4s ease-in-out;

                    &:focus{
                        width: 40vw;
                        height: 6vh;
                    }
                }
                @media(min-width: 576px) and (max-width: 767px){
                    font-size: 25px;
                    width: 30vw;
                    height: 6vh;
                    transition: width 0.4s ease-in-out;

                    &:focus{
                        width: 40vw;
                        height: 6vh;
                    }
                }
                @media(min-width: 321px) and (max-width: 575px){
                    font-size: 20px;
                    width: 35vw;
                    height: 5vh;
                    transition: width 0.4s ease-in-out;

                    &:focus{
                        width: 50vw;
                        height: 5vh;
                    }          
                }
                @media(min-width: 0px) and (max-width: 320px){
                    font-size: 20px;
                    width: 35vw;
                    height: 5vh;
                    transition: width 0.4s ease-in-out;

                    &:focus{
                        width: 50vw;
                        height: 5vh;
                    }   
                }

            }

            select{
                outline: none;
                background-color: @wildsand;
                border: solid 4px @persiangreen;
            
                @media (min-width: 1400px){
                    font-size: 40px;
                    width: 30vw;
                    height: 10vh;
                    transition: width 0.4s ease-in-out;

                    &:focus{
                        width: 60vw;
                        height: 10vh;
                    }
                }
                @media(min-width: 1200px) and (max-width: 1399px){
                    font-size: 40px;
                    width: 30vw;
                    height: 10vh;
                    transition: width 0.4s ease-in-out;

                    &:focus{
                        width: 60vw;
                        height: 10vh;
                    }
                }
                @media(min-width: 992px) and (max-width: 1199px){
                    font-size: 30px;
                    width: 20vw;
                    height: 8vh;
                    transition: width 0.4s ease-in-out;

                    &:focus{
                        width: 40vw;
                        height: 8vh;
                    }
                }
                @media(min-width: 768px) and (max-width: 991px){
                    font-size: 25px;
                    width: 20vw;
                    height: 6vh;
                    transition: width 0.4s ease-in-out;

                    &:focus{
                        width: 40vw;
                        height: 6vh;
                    }
                }
                @media(min-width: 576px) and (max-width: 767px){
                    font-size: 25px;
                    width: 20vw;
                    height: 6vh;
                    transition: width 0.4s ease-in-out;

                    &:focus{
                        width: 50vw;
                        height: 6vh;
                    }
                }
                @media(min-width: 321px) and (max-width: 575px){
                    font-size: 20px;
                    width: 25vw;
                    height: 5vh;  
                    transition: width 0.4s ease-in-out;

                    &:focus{
                        width: 50vw;
                        height: 5vh;
                    }       
                }
                @media(min-width: 0px) and (max-width: 320px){
                    font-size: 15px;
                    width: 25vw;
                    height: 5vh;
                    transition: width 0.4s ease-in-out;

                    &:focus{
                        width: 60vw;
                        height: 5vh;
                    }
                }

            
            }

            button{
                margin-top: 5vh;
                margin-bottom: 5vh;
                background-color: @wildsand;
                border: solid 4px @persiangreen;
                @media (min-width: 1400px){
                    font-size: 40px;
                    width: 30vw;
                    height: 10vh;
                
                }
                @media(min-width: 1200px) and (max-width: 1399px){
                    font-size: 40px;
                    width: 30vw;
                    height: 10vh;
                    
                }
                @media(min-width: 992px) and (max-width: 1199px){
                    font-size: 30px;
                    width: 20vw;
                    height: 8vh;
                    

                }
                @media(min-width: 768px) and (max-width: 991px){
                    font-size: 25px;
                    width: 20vw;
                    height: 6vh;
                    
                }
                @media(min-width: 576px) and (max-width: 767px){
                    font-size: 25px;
                    width: 20vw;
                    height: 6vh;
                    
                }
                @media(min-width: 321px) and (max-width: 575px){
                    font-size: 20px;
                    width: 25vw;
                    height: 7vh;
                            
                }
                @media(min-width: 0px) and (max-width: 320px){
                    font-size: 20px;
                    width: 25vw;
                    height: 7vh;
                    
                }
            }

            .error{
                    color: @youtube_red;    
                    @media (min-width: 1400px){
                        font-size: 30px;
                    }
                    @media(min-width: 1200px) and (max-width: 1399px){
                        font-size: 30px;
                    }
                    @media(min-width: 992px) and (max-width: 1199px){
                        font-size: 20px;
                    }
                    @media(min-width: 768px) and (max-width: 991px){
                        font-size: 15px;
                    }
                    @media(min-width: 576px) and (max-width: 767px){
                        font-size: 15px;
                    }
                    @media(min-width: 321px) and (max-width: 575px){
                        font-size: 10px; 
                    }
                    @media(min-width: 0px) and (max-width: 320px){
                        font-size: 10px;
                    }
            }
            
        }
    }
}

.project-ressources-container{
    .heading{
        margin-top: 5vh;
    }

    .sourcecards-container{
        margin-top: 5vh;
        margin-left: 10vw;
        .sourcecard{
            margin-bottom: 5vh;
            display: flex;
            align-items: baseline;
            justify-content: flex-start;

            h1,a{
                margin-left: 0.4vw;
            }            

            h1{
                @media (min-width: 1400px){
                    font-size: 60px;
                }
                @media(min-width: 1200px) and (max-width: 1399px){
                    font-size: 60px;
                }
                @media(min-width: 992px) and (max-width: 1199px){
                    font-size: 50px;
                }
                @media(min-width: 768px) and (max-width: 991px){
                    font-size: 50px;
                }
                @media(min-width: 576px) and (max-width: 767px){
                    font-size: 40px;
                }
                @media(min-width: 321px) and (max-width: 575px){
                    font-size: 30px;
                }
                @media(min-width: 0px) and (max-width: 320px){
                    font-size: 30px;
                }
            }

            a{
                max-width: 60vw;
                @media (min-width: 1400px){
                    font-size: 30px;
                }
                @media(min-width: 1200px) and (max-width: 1399px){
                    font-size: 30px;
                }
                @media(min-width: 992px) and (max-width: 1199px){
                    font-size: 25px;
                }
                @media(min-width: 768px) and (max-width: 991px){
                    font-size: 25px;
                }
                @media(min-width: 576px) and (max-width: 767px){
                    font-size: 20px;
                }
                @media(min-width: 321px) and (max-width: 575px){
                    font-size: 15px;
                }
                @media(min-width: 0px) and (max-width: 320px){
                    font-size: 15px;
                }        
            }

            &.icon{
                img{
                    @media (min-width: 1400px){
                        width: 50px;
                        height: 50px;
                    }
                    @media(min-width: 1200px) and (max-width: 1399px){
                        width: 45px;
                        height: 45px;
                    }
                    @media(min-width: 992px) and (max-width: 1199px){
                        width: 37px;
                        height: 37px;
                    }
                    @media(min-width: 768px) and (max-width: 991px){
                        width: 35px;
                        height: 35px;
                    }
                    @media(min-width: 576px) and (max-width: 767px){
                        width: 30px;
                        height: 30px;
                    }
                    @media(min-width: 321px) and (max-width: 575px){
                        width: 25px;
                        height: 25px;
                    }
                    @media(min-width: 0px) and (max-width: 320px){
                        width: 20px;
                        height: 20px;
                    }      
                }
            }
        }
    }
}

.imprint-container,.copyright-container,.contact-infos-container{
    font-size: 30px;   

    h1.heading{
        @media (min-width: 1400px){
            font-size: 60px;
        }
        @media(min-width: 1200px) and (max-width: 1399px){
            font-size: 60px;
        }
        @media(min-width: 992px) and (max-width: 1199px){
            font-size: 50px;
        }
        @media(min-width: 768px) and (max-width: 991px){
            font-size: 50px;
        }
        @media(min-width: 576px) and (max-width: 767px){
            font-size: 40px;
        }
        @media(min-width: 321px) and (max-width: 575px){
            font-size: 30px;
        }
        @media(min-width: 0px) and (max-width: 320px){
            font-size: 30px;
        }
    }

    p.heading-2, h2.heading-2{
        color: @persiangreen;
    }

    p{
        text-align: center;
        margin: auto;
        max-width: 60vw;
        @media (min-width: 1400px){
            font-size: 30px;
        }
        @media(min-width: 1200px) and (max-width: 1399px){
            font-size: 30px;
        }
        @media(min-width: 992px) and (max-width: 1199px){
            font-size: 25px;
        }
        @media(min-width: 768px) and (max-width: 991px){
            font-size: 25px;
        }
        @media(min-width: 576px) and (max-width: 767px){
            font-size: 20px;
        }
        @media(min-width: 321px) and (max-width: 575px){
            font-size: 15px;
        }
        @media(min-width: 0px) and (max-width: 320px){
            font-size: 15px;
        }
    }

    h2{
        text-align: center;
        margin: auto;
        max-width: 60vw;
        @media (min-width: 1400px){
            font-size: 40px;
        }
        @media(min-width: 1200px) and (max-width: 1399px){
            font-size: 40px;
        }
        @media(min-width: 992px) and (max-width: 1199px){
            font-size: 35px;
        }
        @media(min-width: 768px) and (max-width: 991px){
            font-size: 35px;
        }
        @media(min-width: 576px) and (max-width: 767px){
            font-size: 30px;
        }
        @media(min-width: 321px) and (max-width: 575px){
            font-size: 25px;
        }
        @media(min-width: 0px) and (max-width: 320px){
            font-size: 25px;
        }
    }


}

// Admin Pages
.admin-dash-overview-container{
    width: 100vw;
    
    .overview-title{
        margin-top: 3vh;
        font-size: 100px;
    }

    .overview-content-container{
        margin-top: 10vh;
        width: 100vw;
        display: flex;
        justify-content: space-around;
        

        .overview-linked-window{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 10px @yellowgreen solid;
            width: 30vw;
            height: 46vh;
        }
    }

    
}

.admin-dash-applications-container, .admin-dash-job-offers-container{
 
    .title{
        font-size: 100px;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

    .sections-container{
        display: flex;
        .content-section{
            width: 50vw;
            height: 100vh;


            // Background Color 
            &.newApplications,&.markedApplications,&.currentJobOffers{
                background-color: @yellowgreen;
            }
            &.seenApplications{
                background-color: @persiangreen;
            }
            &.show-section{
                background-color: @wildsand;
            }

            // Rest of the Styling

            .heading{
                margin-top: 2vh;
            }

            .application,.offer{
                margin-left: 9vw;
                display: flex;

                form{
                    input{
                        display: none;
                    }
                    button{
                        margin-left: 0.5vw;
                        outline: none;
                        border: none;
                        background-color: transparent;
                        img{
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }

            .selected-application{

               .application-title{
                    .heading{
                    font-size: 100px;
                    }

                    .heading-2{
                        font-size: 40px;
                    }
               }

               .application-text{
                margin-top: 5vh;
                margin-left: 5vw;
                font-size: 45px;
               }
               .buttons-container{
                display: flex;
                justify-content: space-between;
                    .applications-button-container{
                        margin-left: 5vw;
                        margin-top: 30vh;
                            form{
                                input{
                                    display: none;
                                }
                                .CVbutton{
                                    font-size: 30px;
                                    outline: none;
                                    border: solid @persiangreen 5px;
                                    width: 10vw;
                                    height: 5vh;
                                    margin-bottom: 1vh;
                                }

                                .mailbutton{   
                                    font-size: 30px;
                                    outline: none;
                                    border: solid @yellowgreen 5px;
                                    width: 10vw;
                                    height: 5vh;
                                }
                            }
                        }
                    .icon-container{
                        margin-top: 24vh;
                        margin-right: 5vw;
                        
                        input{
                            display: none;
                        }

                        button{
                            background-color: transparent;
                            border: none;
                        }
                    }
                }   
            }

            .selectedOffer{
                form{
                    width: 45vw;
                    height: 90vh;
                    margin-left: 2.5vw;
                    .englishoffer,.germanoffer, .italianoffer{
                        display: flex;
                        label{  
                            margin-left: 2vw;
                            margin-right: 2vw;
                            textarea{
                                width: 10vw;
                                height: 7vh;
                                outline: none;
                                resize: none;
                                border: 2px solid @persiangreen;
                            }
                        }
                    }

                    input{
                        display: none;
                    }
                    
                    button{
                        border: none;
                        outline: none;
                        background-color: transparent;
                    }

                    .job-label{
                        margin: auto;
                        text-align: center;
                        @media (min-width: 1400px){
                            font-size: 25px;
                        }
                        @media(min-width: 1200px) and (max-width: 1399px){
                            font-size: 25px;
                        }
                        @media(min-width: 992px) and (max-width: 1199px){
                            font-size: 20px;
                        }
                        @media(min-width: 768px) and (max-width: 991px){
                            font-size: 20px;
                        }
                        @media(min-width: 576px) and (max-width: 767px){
                            font-size: 15px;
                        }
                        @media(min-width: 321px) and (max-width: 575px){
                            font-size: 15px;
                        }
                        @media(min-width: 0px) and (max-width: 320px){
                            font-size: 15px;
                        }
                    }
                }
            }

        }

        .newOfferSection{
            height: 100vh;
            width: 100vw;
            background-color: @persiangreen;
            
            form{
                width: 90vw;
                height: 90vh;
                margin-left: 5vw;
                .englishoffer,.germanoffer, .italianoffer{
                    display: flex;
                    label{  
                        margin-right: 5vw;
                        margin-left: 5vw;
                        margin-bottom: 3vh;
                        textarea{
                            border: none;
                            resize: none;
                            width: 20vw;
                            height: 10vh;
                        }
                    }
                }

                input{
                    display: none;
                }
                
                button{
                    border: none;
                    outline: none;
                    background-color: transparent;
                }

                .job-label{
                    margin: auto;
                    text-align: center;
                    @media (min-width: 1400px){
                        font-size: 25px;
                    }
                    @media(min-width: 1200px) and (max-width: 1399px){
                        font-size: 25px;
                    }
                    @media(min-width: 992px) and (max-width: 1199px){
                        font-size: 20px;
                    }
                    @media(min-width: 768px) and (max-width: 991px){
                        font-size: 20px;
                    }
                    @media(min-width: 576px) and (max-width: 767px){
                        font-size: 15px;
                    }
                    @media(min-width: 321px) and (max-width: 575px){
                        font-size: 15px;
                    }
                    @media(min-width: 0px) and (max-width: 320px){
                        font-size: 15px;
                    }
                }
            }
        }
    }

    .spacing{
        height: 0;
    }

}

.login-page-container{
    height: 100vh;
    display: flex;
    form{
        text-align: center;
        width: fit-content;
        height: auto;
        margin: auto;
        
        padding: 2vw;

        border: 7px solid @persiangreen;
    
        h1{
            font-size: 80px;
        }

        label{
            @media (min-width: 1400px){
                font-size: 40px;
            }
            @media(min-width: 1200px) and (max-width: 1399px){
                font-size: 40px;
            }
            @media(min-width: 992px) and (max-width: 1199px){
                font-size: 30px;
            }
            @media(min-width: 768px) and (max-width: 991px){
                font-size: 30px;
            }
            @media(min-width: 576px) and (max-width: 767px){
                font-size: 20px;
            }
            @media(min-width: 321px) and (max-width: 575px){
                font-size: 10px;
            }
            @media(min-width: 0px) and (max-width: 320px){
                font-size: 10px;
            }
        }

        input{
            margin-bottom: 1vh;
            font-size: 100%;
            width: 12vw;
            height: 4vh;
            outline: none;
            border: solid 2px @persiangreen;
        }

        button[type="submit"]{
            outline: none;
            border: solid 2px @persiangreen;
            width: 6vw;
            height: 3vh;
        }
    }
}